<div class="row m-0 p-0">
    <app-side-bar></app-side-bar>
    <div class="col-md-8 mx-auto col-sm-12 m-0 p-0">
        <div class="central-meta">
            <div class="onoff-options">
                <h5 class="f-title"
                ><i class='bx bxs-cog' style='color:#088dcd'  ></i>account setting</h5>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                <form method="post">
                    <div class="setting-row">
                        <span>Enable follow me</span>
                        <p>Enable this if you want people to follow you</p>
                        <input type="checkbox" id="switch01"> 
                        <!-- <label for="switch01" data-on-label="'ON'" data-off-label="'OFF'"></label> -->
                    </div>
                    <div class="setting-row">
                        <span>Send me notifications</span>
                        <p>Send me notification emails my friends like, share or message me</p>
                        <input type="checkbox" id="switch02"> 
                        <!-- <label for="switch02" data-on-label="'ON'" data-off-label="'OFF'"></label> -->
                    </div>
                    <div class="setting-row">
                        <span>Enable tagging</span>
                        <p>Enable my friends to tag me on their posts</p>
                        <input type="checkbox" id="switch04"> 
                        <!-- <label for="switch04"  >ON</label> -->
                    </div>
                    <div class="submit-btns">
                        <button type="button" class="mtr-btn"><span>Cancel</span></button>
                        <button type="button" class="mtr-btn"><span>Update</span></button>
                    </div>
                </form>
            </div>
        </div>	
        <div class="central-meta mt-3">
            <h5>Logout</h5>
            <hr class="mb-3">
            <p class="logout-p mt-3">I doubt you want to, but i'll ask anyway... Do you want to  <strong><a
            class="ml-1">Log Out?</a></strong></p>
        </div>
    </div>
</div>
