<div class="row m-0 p-0">
    <app-side-bar></app-side-bar>
    <div class="col-md-8 mx-auto col-sm-12 m-0 p-0">
        <app-error-msg *ngIf="alert_box_opened" (closed)="toggleAlert()" [success]="true" [error_msg]="alert_msg"></app-error-msg>
        <div class="central-meta">
            <div class="onoff-options">
                <h5 class="f-title"
                ><i class='bx bxs-cog' style='color:#088dcd'  ></i>account setting</h5>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                <form (ngSubmit)="onSubmit(f)" #f=ngForm>
                    <div class="setting-row">
                        <span>Enable follow me</span>
                        <p>If checked, everyone is able to follow you</p>
                        <input [checked]="enable_follow_me" [(ngModel)]="enable_follow_me" name="enable_follow_me" type="checkbox" id="switch01"> 
                    </div>
                    <div class="setting-row">
                        <span>Allow everyone to chat me up</span>
                        <p>If unchecked, only people you follow can start a private chat with you.</p>
                        <input [checked]="enable_message_me" [(ngModel)]="enable_message_me" name="enable_message_me" type="checkbox" id="switch02"> 
                    </div>
                    <div class="setting-row">
                        <span>Enable tagging</span>
                        <p>Enable my friends to tag me on their posts</p>
                        <input [checked]="enable_tagging" [(ngModel)]="enable_tagging" name="enable_tagging" type="checkbox" id="switch04"> 
                    </div>
                    <div class="submit-btns">
                        <button type="button" class="mtr-btn" [routerLink]="['/']"><span>Cancel</span></button>
                        <button type="submit" class="mtr-btn"><span>Update</span></button>
                    </div>
                </form>
            </div>
        </div>	
        <div class="central-meta mt-3">
            <h5>Logout</h5>
            <hr class="mb-3">
            <p class="logout-p mt-3">I doubt you want to, but i'll ask anyway... Do you want to  <strong><a
            class="ml-1">Log Out?</a></strong></p>
        </div>
    </div>
</div>
