<div class="row m-0">
    <div class="col-1 p-0">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col-11">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-sm-12 col-lg-7 col-md-8 right">
            <div class="central-meta new-pst item" style="display: inline-block;">
                <div class="new-postbox">
                    <figure>
                        <img src="images/resources/admin2.jpg" alt="">
                    </figure>
                    <div class="newpst-input">
                        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div
                            [innerHTML]='htmlToAdd'
                            contenteditable="true"
                            [propValueAccessor]='"innerHTML"'
                            [formControl]="contentEditableControl"
                            [mentionConfig]="mentionConfig()" 
                            (searchTerm)="mentionSearch($event)"
                            rows="3" class="mb-1"
                            class="textar"
                            name="post"
                            (opened)="mentionSearch($event)"
                            placeholder="write something..."
                            ></div>
                            <div class="attachments">
                                <ul>
                                    <li>
                                        <i class="fa fa-music"></i>
                                        <label class="fileContainer">
                                            <input type="file">
                                        </label>
                                    </li>
                                    <li>
                                        <input type="file" style="display:none" 
                                        (change)="onFileChanged($event)" #fileInput>
                                        <i class="fa fa-image" (click)="fileInput.click()" ></i>
                                        <!-- <label class="fileContainer">
                                            <input type="file">
                                        </label> -->
                                    </li>
                                    <li>
                                        <i class="fas fa-video"></i>
                                        <label class="fileContainer">
                                            <input type="file">
                                        </label>
                                    </li>
                                    <li>
                                        <i class="fa fa-camera"></i>
                                        <label class="fileContainer">
                                            <input type="file">
                                        </label>
                                    </li>
                                    <li>
                                        <button type="submit">Post</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Post list -->
            <div class="post-list-container">
                <router-outlet></router-outlet>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <app-right-side-bar></app-right-side-bar>
        </div>
    </div>
    </div>
</div>
