<div *ngIf="comment" class="mt-1 coment-area">
    <ul class="we-comet">
        <li *ngIf="comments_count != undefined && comments_count > 1">
            <a [routerLink]="['/post', post_id]" class="showmore underline"
            >more comments ({{comments_count - 1}})</a>
        </li>
        <li>
            <div class="comet-avatar">
                <img [src]="comment.author.image_url" [alt]="comment.author.username">
            </div>
            <div class="we-comment">
                <div class="coment-head">
                    <h5><a [title]="comment.author.username"
                        >{{comment.author.last_name}} {{ comment.author.first_name }}</a>
                    </h5>
                    <span>1 year ago</span>
                    <span class="we-reply" title="Reply"><i class="fa fa-reply"></i></span>
                </div>
                <p>{{ comment.content }}</p>
            </div>
        </li>
    </ul>
</div>
